#designe {
  background: var(--color0);
  z-index: 7;
  display: block;
  #designe_title {
    position: absolute;
    top: 2%;
    left: 1em;
    color: #000;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);
    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      width: 60%;
      height: 0.1em;
      background-color: #000;
    }
  }
  .all_desinge_container {
    position: absolute;
    // background-color: gray;
    top: 10%;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    .designe_post_grid {
      width: 63em;
      display: grid;
      grid-template-columns: 20em 20em 20em;
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;
      grid-template-rows: 11em 11em 11em;
    }
    .designe_post {
      background-image: url("images/designe2.jpg");
      background-size: 100%;
      background-position: center;
      border-radius: 0.2em;
      box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.2);
      filter: grayscale(100%);
    }
    .designe_post1 {
      background-image: url("images/designe1.jpg");
      top: -0.2em;
      left: -0.2em;
    }
    .designe_post2 {
      background-image: url("images/designe2.jpg");

      top: 0.5em;
      left: -0.1em;
    }
    .designe_post3 {
      background-image: url("images/designe3.jpg");

      top: 0em;
      left: 1.2em;
    }
    .designe_post4 {
      background-image: url("images/designe4.jpg");

      top: 0em;
      left: 1.2em;
    }
    .designe_post5 {
      background-image: url("images/designe5.jpg");

      top: 0.4em;
      left: 1.2em;
    }
    .designe_post6 {
      background-image: url("images/designe6.jpg");

      top: 0.8em;
      left: 1.5em;
    }
    .designe_post7 {
      background-image: url("images/designe7.jpg");
      //   top: 0.8em;
      //   left: 0.5em;
    }
    .designe_post8 {
      background-image: url("images/designe8.jpg");
      top: 0.8em;
      //   left: 0.5em;
    }
    .designe_post9 {
      background-image: url("images/designe9.jpg");
      //   top: 0.8em;
      //   left: 0.5em;
    }
  }
}
