#home {
  background: var(--color0);
  z-index: 2;
  #my_name {
    top: 2%;
    left: 1em;
    color: #000;
    font-weight: 900;
    z-index: 1;
    filter: url(#shad);
    -webkit-text-stroke-width: 3px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      width: 20em;
      height: 0.1em;
      background-color: #000;
      filter: url(#shad);
    }
  }
  #hello {
    top: 1.5%;
    max-width: 25em;
    left: 1.3em;
    width: auto;
    height: auto;
    color: rgba(0, 0, 0, 1);
    font-size: 0.6em;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;

    padding: 0.5em;
    z-index: 1;
    filter: url(#shad);
  }
  #logo_pictur {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 20em;
    height: 11em;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    filter: url(#shad);
    #logo {
      transform: scale(1.5);
      .logo0,
      .logo1,
      .logo2 {
        fill: #000;
        stroke: #000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
      }
      // .logo2 {
      //   // transform: translateX(-19%);
      //   fill: var(--color0);
      // }
      .logo1 {
        fill: var(--color0);
      }
    }
  }
  #intro {
    position: absolute;
    width: 30%;
    height: 7em;
    top: 40%;
    left: 45%;
    font-size: 0.8em;
    justify-content: center;
    padding: 2%;
    border-radius: 0.5em;
    z-index: 100;

    .intro_title {
      color: #000;
      text-align: left;
      margin-bottom: 0.4em;
    }
  }
  #tel_gmail {
    bottom: 2%;
    left: 2%;
    position: absolute;
    max-width: 15em;
    width: 40%;
    font-weight: 700;
    font-size: 0.7em;
    z-index: 1;
    display: flex;
    color: #000;
    background-color: var(--color_bak);
  }
  #background0 {
    position: absolute;
    width: 100%;
    top: -5%;
    left: 0%;
    z-index: 0;
    filter: url(#shad);
    display: none;
  }
  #background1 {
    position: absolute;
    bottom: 1.5%;
    right: -3.5em;
    width: 35vw;
    min-width: 33em;
    height: 10vh;
    min-height: 15em;
    z-index: 0;
    transition-duration: 1s;
    filter: url(#shad);
    &:hover {
      transform: scale(1.06);
    }
  }

  .network_container {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 30%;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    color: var(--colorX);
    filter: url(#noise);

    .network {
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      text-align: center;
      font-size: 1.1em;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
        color: #000;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
