#param {
  top: 2vh;
  width: 0.1em;
  height: 5em;
  background-color: var(--color0);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em 0em 0em 0.5em;
  overflow: hidden;
  z-index: 9;
  border-left: 0.7em var(--color0) solid;
  transition-duration: 0.5s;
  .mode,
  .mode1,
  .mode2 {
    position: absolute;
    left: 10%;
    width: 2em;
    height: 1em;
    margin-top: 0.5em;
    background: var(--colorX);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    padding-left: 2px;
    z-index: 1;
    transition-duration: 0s;
  }
  .mode1,
  .mode2 {
    z-index: 2;
    opacity: 0;
  }
  .mode2 {
    display: none;
  }
  .mode {
    display: flex;
    align-items: center;
    #mode_check {
      // top: -1%;
      left: 0%;
      width: 0.8em;
      height: 0.8em;
      background: var(--color0);
      border-radius: 50%;
      box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.7);
      transition-duration: 0.2s;
    }
  }

  #para_icon {
    top: 50%;
    width: 80%;
    height: 1.5em;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
    color: var(--colorX);
  }
}
#param_extra {
  position: fixed;
  top: 2.7em;
  right: 0.3em;
  width: 0.15em;
  height: 1em;
  z-index: 40;
  border-left: 0.6px var(--colorX) solid;
  border-right: 0.6px var(--colorX) solid;
  transition-delay: 0s;
}
