@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#work {
  background-color: var(--color0);
  z-index: 1;
  display: none;
  #work_navbar {
    top: 3%;
    left: 55%;
    width: 40%;
    height: 4.5%;
    max-height: 3em;
    background: var(--color_worck_navba);
    box-shadow: 3px 5px 54px rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    z-index: 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .work_tabs {
      width: 20%;
      height: 85%;
      border-radius: 0.2em;
      @include cent;
      font-size: 0.7em;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background: var(--colorX);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        color: var(--color0);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .activ_tab {
    background: var(--colorX);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: var(--color0);
  }
  #work_title {
    position: absolute;
    top: 2%;
    left: 1em;
    color: #000;
    font-weight: 900;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
    z-index: 10;
    filter: url(#shad);

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      width: 60%;
      height: 0.1em;
      background-color: #000;
    }
  }
  .web_work {
    position: absolute;
    top: 15vh;
    left: -100%;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    grid-template-rows: 40% 40%;
    opacity: 1;
    transition: 1s;
    z-index: 3;

    &::after {
      content: "";
      position: absolute;
      top: var(--stufs_top);
      left: var(--stufs_left);
      transform: scale(var(--stufs_dimensions));
      width: 2em;
      height: 2em;
      background-color: var(--colorX);
      border-radius: 50%;
      opacity: var(--stufs_opacity);
      transition: transform 1s, opacity 1s;
      z-index: 3;
    }
    .stuffs_contain {
      @include cent;
      z-index: 3;
    }
    .stuffs {
      width: 16em;
      height: 12em;
      background-color: var(--colorX);
      border: 0.2em var(--colorX) solid;
      border-radius: 0.2em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      z-index: 2;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        z-index: 4;
        transform: scale(1.05);
      }

      &:hover .stuffs_img_interne {
        background-size: 110%;
      }

      &:active {
        transform: scale(0.9);
      }

      // ###########################################
      .stuffs_img {
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        background: var(--color0);
        overflow: hidden;
        filter: grayscale(0%);
        transition: transform 0.5s, filter 0.5s;

        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 0%;
          background: var(--colorX);
          opacity: 0.3;
          z-index: 3;
          transition: height 0.6s;
        }

        &:hover {
          &::before {
            height: 100%;
          }
        }
      }

      .stuffs_title {
        display: block;
        width: 40%;
        margin-top: 4%;
        margin-left: 0.3em;
        font-size: 1em;
        color: var(--color0);
        &::before {
          content: "";
          position: absolute;
          bottom: -10%;
          width: 40%;
          height: 5%;
          background: var(--color0);
        }
      }
    }
    .stuffs1 {
      grid-column: 1;
      grid-row: 1;
    }
    .stuffs2 {
      grid-column: 2;
      grid-row: 1;
    }
    .stuffs3 {
      grid-column: 3;
      grid-row: 1;
    }
    .stuffs4 {
      grid-column: 1;
      grid-row: 2;
    }
    .stuffs5 {
      grid-column: 2;
      grid-row: 2;
    }
    .stuffs6 {
      grid-column: 3;
      grid-row: 2;
    }
  }
  #pres_invi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 30;
    .presantation {
      top: 0;
      left: 0;
      background: var(--color0);
      width: 40em;
      height: 35em;
      border-radius: 0.2em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      transition: transform 0.5s;
      #close_pres {
        position: absolute;
        top: -1%;
        left: -2%;
        width: 1.4em;
        height: 1.1em;
        z-index: 2;
        border-radius: 0.1em;
        box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
        background-color: var(--color0);
        color: #000;
        font-size: 1.3em;
        opacity: 0.9;
        cursor: pointer;
        @include cent;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
          background: var(--color0);
        }
        &:active {
          transform: scale(1);
        }
      }
      .presantation_img {
        width: 98%;
        height: 67%;
        top: 0.4em;
        margin: auto;
        background-size: 80%;
        background-repeat: no-repeat;
        overflow: hidden;
      }
      .moovingContainer {
        transform: translateX(0);
        height: 100%;
        display: flex;
        transition: 0.3s;
      }

      #theSliders {
        position: absolute;
        right: -2%;
        bottom: 30%;
        width: 5em;
        height: 2em;
        display: flex;
        background: var(--color0);
        overflow: hidden;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        border-radius: 0.1em;

        &::after {
          content: "";
          position: absolute;
          top: 5%;
          left: 50%;
          width: 1px;
          height: 90%;
          background-color: rgba(0, 0, 0, 0.2);
        }

        div {
          width: 50%;
          height: 100%;
          color: #222;
          text-align: center;
          font-size: 2em;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(1);
          }
        }
        .invisibel {
          opacity: 0.2;
          pointer-events: none;
        }
      }

      #pres_title {
        display: block;
        width: 40%;
        margin-top: 2%;
        margin-left: 0.3em;
        font-size: 1.5em;
        font-weight: 900;

        &::before {
          content: "";
          position: absolute;
          bottom: -10%;
          width: 40%;
          height: 5%;
          background-color: #000;
        }
      }
      p {
        font-size: 0.7em;
        display: block;
        width: 50%;
        margin-top: 2%;
        margin-left: 1em;
        font-size: 0.6em;
        font-weight: 900;
      }
      #link {
        position: absolute;
        bottom: 5%;
        width: 100%;
        @include cent;
        h2 {
          display: block;
          background: var(--colorX);
          color: var(--color0);
          font-size: 0.7em;
          font-size: 0.6em;
          font-weight: 900;
          border: 0.5em var(--colorX) solid;
          border-radius: 0.3em;
          box-shadow: $shadow0;
          user-select: none;
        }
      }
    }
  }
  .stuffs_img_interne {
    width: 100%;
    height: 102%;
    grid-column: 1;
    grid-row: 1;
    background-size: 102%;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    transition: background-size 1s;
    overflow: hidden;
  }
  .stuffs_img1a {
    background-image: url(images/website1.gif);
    z-index: 1;
    display: block;
  }
  .stuffs_img1b {
    background-image: url(images/website1.gif);
  }
  .stuffs_img1c {
    background-image: url(images/website1.gif);
  }
  .stuffs_img1d {
    background-image: url(images/website1.gif);
  }
  .stuffs_img1e {
    background-image: url(images/website1.gif);
  }
  // ###############################################
  .stuffs_img2a {
    background-image: url(images/website2.png);
    z-index: 1;
    display: block;
  }
  .stuffs_img2b {
    background-image: url(images/website2.png);
  }
  .stuffs_img2c {
    background-image: url(images/website2.png);
  }
  .stuffs_img2d {
    background-image: url(images/website2.png);
  }
  .stuffs_img2e {
    background-image: url(images/website2.png);
  }
  // ###############################################

  .stuffs_img3a {
    background-image: url(images/website3.jpg);
    z-index: 1;
    display: block;
  }
  .stuffs_img3b {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3c {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3d {
    background-image: url(images/website3.jpg);
  }
  .stuffs_img3e {
    background-image: url(images/website3.jpg);
  }
  // ###############################################

  .stuffs_img4a {
    background-image: url(images/website4.jpg);
    z-index: 1;
    display: block;
  }
  .stuffs_img4b {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4c {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4d {
    background-image: url(images/website4.jpg);
  }
  .stuffs_img4e {
    background-image: url(images/website4.jpg);
  }
  // ###############################################

  .stuffs_img5a {
    background-image: url(images/website5.gif);
    z-index: 1;
    display: block;
  }
  .stuffs_img5b {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5c {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5d {
    background-image: url(images/website5.gif);
  }
  .stuffs_img5e {
    background-image: url(images/website5.gif);
  }
  // ###############################################

  .stuffs_img6a {
    background-image: url(images/website6.jpg);
    z-index: 1;
    display: block;
  }
  .stuffs_img6b {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6c {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6d {
    background-image: url(images/website6.jpg);
  }
  .stuffs_img6e {
    background-image: url(images/website6.jpg);
  }
  #work_background {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .mobile_work {
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    height: 100%;
    @include cent;
    flex-wrap: wrap;
    opacity: 1;
    overflow: scroll;
    transition: 1s;
    z-index: 3;
    &::-webkit-scrollbar {
      display: none;
    }
    .mobiles {
      max-width: 14em;
      width: 25em;
      height: 28em;
      background: #222;
      border: 0.3em var(--colorX) solid;
      border-radius: 0.5em;
      margin: 5%;
      margin-top: 3em;
      box-shadow: 0px 0.5px 24px rgba(0, 0, 0, 0.2);
      // background-image: url(images/48325806467331c03c99e98fda4a0cd4.jpg);
      background-size: 150%;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      z-index: 1;
      transform: scale(1);
      transition: all 1s;
      &:hover {
        filter: grayscale(0%);
        transform: scale(1.06);
      }
      &:hover .mobiles_title,
      &:hover .creation_date {
        opacity: 0;
      }
      .mobiles_title,
      .creation_date {
        position: absolute;
        width: 6em;
        height: 1.4em;
        bottom: -4%;
        left: 64%;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0.5px 24px rgba(24, 21, 21, 0.2);
        @include cent;
        justify-content: flex-start;
        border-radius: 0.2em;
        opacity: 1;
        transition: opacity 0.3s;
        h1 {
          font-size: 0.8em;
          margin-left: 5%;
          &::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 4%;
            background: #000;
            bottom: -4%;
            left: 0%;
          }
        }
      }
      .creation_date {
        width: 3em;
        height: 1em;
        bottom: -7.4%;
        left: 60%;
        background: rgba(0, 0, 0, 0.3);
        justify-content: center;
        border-radius: 0.1em;
        h1 {
          font-size: 0.6em;
          margin-left: 0%;
          color: #fff;
          &::after {
            background: transparent;
          }
        }
      }
    }
    .mobiles1 {
      // background-image: url(images/6c335ade51e70660ac9c160cd903a258.jpg);
    }
    .mobiles2 {
      // background-image: url(images/8af15509f80a6109b8051df2c3bd04d1.jpg);
      margin-top: 5em;
      .mobiles_title {
        top: -3%;
        left: -7%;
      }
      .creation_date {
        top: 1.2%;
        left: 20%;
      }
    }
    .mobiles3 {
      // background-image: url(images/48325806467331c03c99e98fda4a0cd4.jpg);
      .mobiles_title {
        bottom: 13%;
        left: 95%;
      }
      .creation_date {
        bottom: 10%;
        left: 99%;
      }
    }
  }
  .preso_work {
    position: absolute;
    top: 0%;
    left: 110%;
    width: 100%;
    height: 100%;
    @include cent;
    flex-wrap: wrap;
    opacity: 1;
    transition: 1s;
    background: gray;
  }
  // ######################
  .web_work_visible {
    transition-delay: 0.4s;
    left: 5%;
  }
  .mobile_work_visible {
    transition-delay: 0.4s;
    top: 0%;
  }
  .preso_work_visible {
    transition-delay: 0.4s;
    left: 0%;
  }
}
