$shadow0: 0px 1px 2px rgba(0, 0, 0, 0.3);
$color0: #f1f1f1;
$colorX: #222;
body {
  background: var(--color0);
  --color0: #f1f1f1;
  --colorX: #222;
  --color_bak: #fff;
  --color_tab_hover: #222;
  --color_worck_navbar: rgba(255, 255, 255, 0.5);
  // ########################
  --stufs_opacity: 0;
  --stufs_dimensions: 2;
  --stufs_top: 50%;
  --stufs_left: 50%;
  display: flex;
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Roboto", sans-serif;
  cursor: url("images/Sans.svg"), auto;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  &::selection {
    color: var(--color0);
    background: var(--colorX);
  }
}
.Hidden_svg {
  background-color: red(red);
  position: absolute;
  width: 0em;
  height: 0em;
}

.st0 {
  stroke-miterlimit: 10;
  fill: var(--color_bak);
  opacity: 0.7;
}
strong {
  text-shadow: none;
}

#all {
  background: var(--color0);
  width: 86vw;
  height: 96vh;
  margin: auto;
  margin-top: 2vh;
  box-shadow: $shadow0;
  border-radius: 0.5em;
  z-index: 9;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  .all {
    grid-column: 1;
    grid-row: 1;
  }

  @import "./home";
  // ################################################
  // ################################################
  // ################################################
  @import "./work";
  // ################################################
  // ################################################
  // ################################################
  @import "./designe";
  // ################################################
  // ################################################
  // ################################################
  @import "./sckil";
  // ################################################
  // ################################################
  // ################################################
  @import "./contact";
}
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/

@import "./leftBar";
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/

@import "./param";
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/
/*###########################################################################*/
